*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100vh;
    background-color: #1db954;
    background-image: url(./Thumbnail/home.jpg);
    display: flex;
}

.section_1{
    width: 75%;
    height: 100;
    /* background-color: #1db954; */
}

.header{
    width: 100%;
    height: 120px;
    background-color: #1db954;
    display: flex;
    align-items: center;
    color: white;
    font-size: 70px;
    font-family: cursive;
    font-weight: bold;
    padding-left: 50px;
}

.logo{
    border-radius: 50%;
    margin-right: 20px;
}

.audios{
    height: 600px;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    column-gap:calc(4%/3) ;
    row-gap: 20px;
}

.audio{
    height: auto;
    min-height: 400px;
    width: 24%;
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden;
    
}

.audio_img{
    width: 100%;
    height: 260px;
    /* background-color: yellow; */
    overflow: hidden;
}
.audio_img > img{
    width: 100%;
}

.audio_details{
    padding: 10px;
}

.audio_tittle{
    font-family: cursive;
    color: white;
}

.btn{
    padding: 10px 50px ;
    margin-top: 20px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: #191414;
    border: 2px solid #191414;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: red;
    /* background-color: rgb(238, 255, 1); */
    border-radius: 10px ;
}


/* Section = 02 */



.section_2{
    width: 25%;
    height: 100vh;
    background-color: #005324;
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.thumbnail{
    width: 100%;
    height: 350px;
    /* background-color: #191414; */
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail > img{
    width: 100%;
    height: 350px;
}

.audio_player{
    width: 100%;    
}
.audio_player_title{
    font-family: cursive;
    color: white;
    font-size: 30px;
}

.footer{
    width: 100%;
    color: rgb(238, 255, 1);
    font-weight: bold;
}